#Jennifer and I are makeing an SQL based off of her data from capstones
can you see my edit? 
#does this work
The project will consist of Justin and I coming together to use the SQL database to record the data obtained from the deer data collected from this years
capstoe. The data consist of qualitative and quantitative data such as deer ID numbers, harvest date, 
year, county, area name, age, sex among many other categories in which data was accounted for. Our goal as a whole is to be able to organize the obtained
data in a way that is approchable and facilitates anaylsis of data once it comes to that. The data that has been generated thus far is currently recorded
through an Excel sheet, and is in the process of being transfered to the SQL database as codes are generated and chosen fit for this project. 

ALTER TABLE CapstoneCWD;
 ADD Age decimal(5,1);
 ALTER TABLE CapstoneCWD;
 ADD Sex VARCHAR(50);
 ALTER TABLE CapstoneCWD;
 ADD Weight decimal(5,1);
 ALTER TABLE CapstoneCWD;
 ADD Physical_Condition VARCHAR(50);
 ALTER TABLE CapstoneCWD;
 ADD CWD VARCHAR(50);

INSERT INTO CapstoneCWD
VALUES (2372, "2023-02-06", "Muskogee", "NE", 3.5, "F", 99, "Good", "No"),
       (2425, "2023-02-28", "Ottawa", "NE", 4.5, "F", 113, "Excellent", "No"),
       (7518, "2023-02-28", "Ottawa", "NE", 3.5, "F", 132, "Excellent", "No"),
       (2398, "2023-01-31", "Roger Mills", "SW", 2.5, "F", 115.6, "Excellent", "No"),
       (2351, "2023-02-13", "Roger Mills", "SW", 3.5, "F", 123.0, "Excellent", "No"),
       (2399, "2023-02-13", "Custer", "SW", 3.5, "F", 104, "Excellent", "No"),
       (7519, "2023-02-27", "Osage", "NE", 5.5, "F", 93, "Fair", "No"),
       (144, "2023-02-27", "Osage", "NE", 5.5, "F", 94, "Fair", "No"),
       (2439, "2023-02-21", "Nowata", "NE", 3.5, "F", 96, "Good", "No"),
       (2304, "2023-02-21", "Nowata", "NE", 1.5, "F", 107.8, "Good", "No"),
       (2480, "2023-02-20", "Rogers", "NE", 1.5, "M", 100, "Good", "No"),
       (2468, "2023-02-20", "Rogers", "NE", 1.5, "F", 94, "Good", "No");

       SELECT * FROM CapstoneCWD

       SELECT * FROM CapstoneCWD;

       
